{% extends 'base.html' %}



{% block main_content %}
    <div class="main-content">
       
{%for post in posts%}
        <!--Card-->
        <a class="card-content" href="{%url 'post.detail' pk=post.id%}">
            <div class="card-text">
                <h2> 
                    {{post.subject}}
                </h2>
                <div class="card-sub-text">
                   <p>
                    <i class="fa fa-location"></i>
                    {{post.location}}
                   </p>
                   <p>
                    <i class="fa fa-clock"></i>
                    {{post.created_date}}
                    <br/>
                    <br/>
                    <i class="fa fa-user"></i>
                    {{post.created_by.nikname}}
                   </p>
                </div>
               
            </div>
            <div class="card-img">
                {%if post.post_images.first.image%}
                <img src="{{post.post_images.first.image.url}}">
                {%endif%}
            </div>
        </a>
        <!--/Card-->
        {%endfor%}

        

        
    <br/>

    <a href="#" class="view-more-btn">
        مشاهدة المزيد
    </a>

  </div>
  {% endblock main_content %}