{% extends 'base.html' %}



{% block main_content %}
    <div class="main-content">
       

        <!--Card-->

       
        <a class="card-content" href="post_detail.html">
            <div class="card-text">
                <h2> 
                    ناقة قصب فاطر سمين وجبره
                </h2>
                <div class="card-sub-text">
                   <p>
                    <i class="fa fa-location"></i>
                    حايل
                   </p>
                   <p>
                    <i class="fa fa-clock"></i>
                    قبل 5 ساعات
                    <br/>
                    <br/>
                    <i class="fa fa-user"></i>
                    alatabi
                   </p>
                </div>
               
            </div>
            <div class="card-img">
                <img src="./img/webp.jpg">
            </div>
        </a>
        
        <!--/Card-->

        <!--Card-->
       
        <a class="card-content" href="post_detail.html">
            <div class="card-text">
                <h2> 
                    ناقة قصب فاطر سمين وجبره
                </h2>
                <div class="card-sub-text">
                   <p>
                    <i class="fa fa-location"></i>
                    حايل
                   </p>
                   <p>
                    <i class="fa fa-clock"></i>
                    قبل 5 ساعات
                    <br/>
                    <br/>
                    <i class="fa fa-user"></i>
                    alatabi
                   </p>
                </div>
               
            </div>
            <div class="card-img">
                <img src="./img/webp.jpg">
            </div>
        </a>
    
        <!--/Card-->


        <!--Card-->
       
        <a class="card-content" href="post_detail.html">
            <div class="card-text">
                <h2> 
                    ناقة قصب فاطر سمين وجبره
                </h2>
                <div class="card-sub-text">
                   <p>
                    <i class="fa fa-location"></i>
                    حايل
                   </p>
                   <p>
                    <i class="fa fa-clock"></i>
                    قبل 5 ساعات
                    <br/>
                    <br/>
                    <i class="fa fa-user"></i>
                    alatabi
                   </p>
                </div>
               
            </div>
            <div class="card-img">
                <img src="./img/webp.jpg">
            </div>
       
        </a>
        <!--/Card-->

        
    <br/>

    <a href="#" class="view-more-btn">
        مشاهدة المزيد
    </a>

  </div>
  {% endblock main_content %}