{% extends 'base.html' %}


{% block main_content %}

<div class="main-content">
<h5>{{error_message}}</h5>
    <form method="POST"  id="login_form_id" action="{%url 'login'%}" class="login-box">
        {% csrf_token %}
    <input type="text"     name="username" placeholder="    أدخل أسم المستخدم أو رقم الجوال" size="50" class="text-email">
   
    <input type="password" name="password" placeholder="أدخل كلمة المرور" class="text-password"> 
    
    <input type="submit" value="دخول" class="login-btn">
    </form>
    <br/>
    <button class="forget-btn" onclick="openBox()">
        نسيت كلمة المرور
    </button>


    
</div>




<div class="forget-box" id="forget-box-id">
   
    <i class="fa-solid fa-rectangle-xmark exit-btn" onclick="closeBox()"></i>

<form action="{%url 'Forget.Password'%}" method="POST">
    {% csrf_token %}
    <input type="text" name="mobile" placeholder="إدخل رقم الجوال">
    <br/>
    <br/>
    <input type="submit" value=" إستعادة كلمة المرور">
</form>
</div>


{% endblock main_content %}




{% block js %}
<script>
    function openBox(){
        document.getElementById('forget-box-id').classList.add('active-login');
    }
    function closeBox(){
        document.getElementById('forget-box-id').classList.remove('active-login');
    }
</script>
{% endblock js %}

