{% extends 'base.html' %}


{% block main_content %}

<div class="main-content">
<h5>{{error_message}}</h5>
    <form method="POST"  id="login_form_id" action="{%url 'login'%}" class="login-box">
        {% csrf_token %}
    <input type="text"     name="username" placeholder="    أدخل أسم المستخدم أو رقم الجوال" size="50" class="text-email">
   
    <input type="password" name="password" placeholder="أدخل كلمة المرور" class="text-password"> 
    
    <input type="submit" value="دخول" class="login-btn">
    </form>
    <br/>
    <a href="" class="c-btn">
        نسيت كلمة المرور
    </a>
</div>


{% endblock main_content %}
