{% extends 'base.html' %}
{% load static %}

{% block main_content %}

<div class="main-content">
<h1>    
    حساب و سداد عمولة الموقع
</h1>
<hr class="slim-line">

<table class="bank-table">
    <thead>
        <tr>
            <td>
                أسم البنك
            </td>
            <td>
                رقم الآيبان
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                الإنماء
            </td>
            <td class="IBAN">
                SA0605000068204012987000 
            </td>
        </tr>
    </tbody>
</table>


<table class="bank-table">
    <tbody>
        <tr>
            <td>
                 سعر البيع
            </td>
            <td>
                 <input type="text" name="sale_price" id="sale_price" placeholder="أدخل سعر البيع" class="cal-input"/>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                عمولة الموقع
            </td>
            <td class="IBAN">
                <input type="text" name="fee_amount" id="fee_amount" class="cal-input"> 
            </td>
        </tr>
    </tbody>
</table>


<script>
    const salePrice = document.getElementById('sale_price');
    salePrice.addEventListener("change", function(){
        document.getElementById('fee_amount').value = this.value * 0.01;
    });

    
    salePrice.addEventListener("keyup", function(){
        document.getElementById('fee_amount').value = this.value * 0.01;
    });
</script>

  
</div>
{% endblock main_content %}