{% extends 'base.html' %}
{%load static%}


{% block main_content %}

{%if selectedcategory%}
<!--========Categories=========-->
<div class="Categories-warp">
<div class="sub-Categories">

   {%for category in selectedcategory.sub_categories.all%}
  <a href="{%url 'post.search'%}?category={{selectedcategory.id}}&searchKey=&location={{selectedLocation}}&SubCategory={{category.id}}">
  {{category.name}}
  </a> 
  {%endfor%}

 

</div>
</div>
<!--=======/Categories=========-->
{%endif%}

    <div class="main-content">

      
       
{%for post in posts%}
        <!--Card-->
        <a class="card-content" href="{%url 'post.detail' pk=post.id%}">
            <div class="card-text">
                <h2> 
                    {{post.subject}}
                </h2>
                <sub> {{post.id}} / {{post.category}} / {{post.sub_category}} </sub>
                
                <ul class="card-sub-text {%if post.created_by == request.user%} bg-light-green {%endif%}">

                   <li>
                    <img src="{%static 'img/Location.png'%}">
                    {{post.location}}
                   </li>

                   <li>
                    <img src="{%static 'img/Time.png'%}">
                    {{post.created_date}}
                   </li>
                
                   <li>
                    <img src="{%static 'img/User.png'%}">
                    {{post.created_by.name}}
                   </li>

                   <li>
                    <img src="{%static 'img/Comments.png'%}">
                    {{post.post_comments.all.count}}
                   </li>
                   
                </ul>
               
            </div>
            <div class="card-img">
                {%if post.post_images.first.image%}
                <img src="{{post.post_images.first.image.url}}" style="width:200px;height:200px">
                {%endif%}
            </div>
        </a>
        <!--/Card-->
        {%endfor%}

        

        
    <br/>


  </div>

  <hr class="slim-line">
<br/>



    <div class="show-more-container">

    {%if posts.has_next%}    
    <a href="?page_number={{posts.next_page_number}}&category={{selectedcategory.id}}&searchKey=&location={{selectedLocation}}&SubCategory={{selectedSubCategory}}" class="view-more-btn">
        <i class="fa-solid fa-square-caret-right"></i>
        التالي
    </a>
    {%endif%}

    <h3>صفحة رقم : [ {{page_number}} ] </h3>

    {%if posts.has_previous%}
    <a href="?page_number={{posts.previous_page_number}}&category={{selectedcategory.id}}&searchKey=&location={{selectedLocation}}&SubCategory={{selectedSubCategory}}" class="view-more-btn">
        السابق
        <i class="fa-solid fa-square-caret-left"></i>
    </a>
    {%endif%}
</div>


  {% endblock main_content %}