{% extends 'base.html' %}



{% block main_content %}

{%if selectedcategory%}
<!--========Categories=========-->
<div class="Categories-warp">
<div class="sub-Categories">

   {%for category in selectedcategory.sub_categories.all%}
  <a href="{%url 'post.search'%}?category={{selectedcategory.id}}&searchKey=&location={{selectedLocation}}&SubCategory={{category.id}}">
  {{category.name}}
  </a> 
  {%endfor%}

 

</div>
</div>
<!--=======/Categories=========-->
{%endif%}

    <div class="main-content">

      
       
{%for post in posts%}
        <!--Card-->
        <a class="card-content" href="{%url 'post.detail' pk=post.id%}">
            <div class="card-text">
                <h2> 
                    {{post.subject}}
                </h2>
                <sub> {{post.id}} / {{post.category}} / {{post.sub_category}} </sub>
                
                <ul class="card-sub-text {%if post.created_by == request.user%} bg-light-green {%endif%}">

                   <li>
                    <i class="fa fa-location"></i>
                    {{post.location}}
                   </li>

                   <li>
                    <i class="fa fa-clock"></i>
                    {{post.created_date}}
                   </li>
                
                   <li>
                    <i class="fa fa-user"></i>
                    {{post.created_by.nikname}}
                   </li>

                   <li>
                    <i class="fa-regular fa-comments"></i>
                    {{post.post_comments.all.count}}
                   </li>
                   
                </ul>
               
            </div>
            <div class="card-img">
                {%if post.post_images.first.image%}
                <img src="{{post.post_images.first.image.url}}">
                {%endif%}
            </div>
        </a>
        <!--/Card-->
        {%endfor%}

        

        
    <br/>

    <a href="#" class="view-more-btn">
        مشاهدة المزيد
    </a>

  </div>
  {% endblock main_content %}