{% extends 'base.html' %}



{% block main_content %}
    <div class="main-content">

        <h2>
            اتفاقية الاستخدام
        </h2>

        <ul class="user-agreement-list">
            <li>
                <h4>
                    مقدمة
                </h4>
                <p>
                    إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على منصة مراح وضعت لحماية وحفظ حقوق كل من مؤسسة  مراح للتسوق الالكتروني و المستخدم الذي يصل إلى الموقع بتسجيل او من دون تسجيل أو المستهلك المستفيد من المحتوى بتسجيل أو من دون تسجيل.
                </p>
                <br/>
                <p>
                    تخضع البنود والشروط والأحكام والمنازعات القانونية للقوانين والتشريعات والأنظمة المعمول بها في المملكة العربية السعودية.
                </p>
                <br/>
                <p>
                    لكونك مستخدم أو مستهلك على منصة مراح فأنك توافق على الالتزام بكل ما يرد بهذه الاتفاقية بمجرد استخدامك للمنصة أو في حال الوصول إليها أو في حالة التسجيل في الخدمة. كما يحق لمنصة مراح التعديل على هذه الاتفاقية في أي وقت وتعتبر ملزمة لجميع الأطراف بعد الإعلان عن التحديث في الموقع أو في أي وسيلة أخرى.
                </p>
                
            </li>
            <br/>
            <li>
                <h4>
                    المادة الأولى : تعريف
                </h4>
                <ol>
                    <li>
                       	منصة مراح: هي منصة إلكترونية تتيح للمستخدمين فتح حساب لنشر المحتوى الخاص به وفق الأنظمة والتشريعات، مقرها الرئيسي الدمام ويشار إليها بهذه الاتفاقية باسم مؤسسة موقع مراح للتسويق الالكتروني (الجهة المالكة لمنصة مراح) أو نحن أو لنا أو الموقع أو المنصة أو الطرف الأول.
                       
                    </li>
                    <br/>
                    <li>
                        	المستخدم: هو منشئ الحساب على منصة مراح لغرض التواصل أو التصفح أو نشر المحتوى  ويشار إليه في هذه الاتفاقية بالعضو أو الممارس أو موفر الخدمة أوالطرف الثاني.
                    </li>
                </ol>
            </li>

            <br/>
            <li>
                <h4>
                    المادة الثانية: شروط الاستخدام
                </h4>
                <p>
                    بصفتك طرف ثاني في هذه الاتفاقية ولكونك مستفيد من خدمات منصة مراح فعليك الالتزام بالتالي:
                </p>
                <br/>
                <ol>
                    <li>
                       	عدم الإعلان أو تحميل محتوى أو عناصر غير ملائمة للتصنيفات المتاحة في المنصة و المسموح ببيعها ومراجعة شروط الإعلان والسلع الممنوعة قبل الإعلان.
                    </li>

                    <li>
                       	عدم الإختراق أو التحايل على قوانين وسياسة وأنظمة المنصة أو أي حقوق تتعلق بطرف ثالث.
                    </li>

                    <li>
                        	عدم نسخ الإعلان من منصة مراح وإعادة نشرها في مواقع أخرى.
                    </li>

                    <li>
                        	عدم استخدام أي وسيلة غير شرعية للوصول للإعلانات أو بيانات المستخدمين الآخرين أو انتهاك لسياسة وحقوق مؤسسة موقع مراح للتسويق الالكتروني أو الوصول لمحتوى المنصة أو تجميع وتحصيل معلومات وبيانات تخص منصة مراح أو عملاءها والاستفادة منها بأي شكل من الأشكال أو إعادة نشرها.
                    </li>
                    <li>
                        	عدم استخدام خدماتنا إذا كنت غير مؤهل قانونيا لإتمام هذه الاتفاقية.
                    </li>
                    <li>
                       	عدم التلاعب بأسعار السلع سواء في البيع او الشراء وإلحاق الضرر بالمستهلكين الآخرين.
                    </li>
                    <li>
                        	عدم تضمين الإعلان عرضاً أو بياناً أو ادعاء كاذباً أو مصوغاً بعبارات من شأنها أن تؤدي بصورة مباشرة أو غير مباشرة إلى خداع المستهلك أو تضليله، أو القذف، أو التشهير.
                    </li>
                    <li>
                       	عدم التعرض للسياسات، أو السيادات الدولية، أو الشخصيات المعتبرة، أو أي مناقشات غير مشروعة في مؤسسة موقع مراح للتسويق الالكتروني.
                    </li>
                    <li>
                        عدم نقل حسابك أو نشاطك إلى مواقع اخرى بالوقت الذي هو يحمل شعار أو خدمات المؤسسة.
                    </li>
                    <li>
                      	عدم انتهاك حقوق الملكية الفكرية لمؤسسة موقع مراح للتسويق الالكتروني، بما في ذلك من حقوق الطبع والنشر والعلامات التجارية، وبراءات الاختراع، والدعاية وقواعد البيانات أو غيرها من حقوق الملكية الفكرية التي تنتمي للمؤسسة أو المرخصة 
                    </li>
                    <li>
                        	عدم تضمين الإعلان شعاراً أو علامة تجارية لا تملك حق استعمالها، أو علامة مقلدة وكل مافيه انتهاك حقوق الملكية الفكرية للآخرين أو براءة الاختراع.
                    </li>
                    <li>
                        	عدم الإعلان عن منتجات مخالفة 
                    </li>
                    <li>
                       	عدم إنتهاك أنظمة حقوق الإنسان و المتاجرة بالأشخاص بأي شكل من الأشكال والالتزام بضوابط الإعلان عن تقديم الخدمات العمالية.
                    </li>
                    <li>
                        	عدم انتهاك أنظمة حماية البيئة والحياة الفطرية
                    </li>
                    <li>
                        	عدم جمع أو استعمال بيانات مستخدمي الموقع الشخصية أو اتصالاته الإلكترونية لأغراض غير مصرح لها أو مسموح بها، أو الإفصاح عنها لجهة أخرى، بمقابل أو بدون مقابل، إلا بموافقة من تتعلق به البيانات الشخصية أو إذا اقتضت الأنظمة ذلك.
                    </li>
                    <li>
                        	عدم الإقدام على أي ما من شأنه إلحاق الضرر بسمعة مؤسسة موقع مراح للتسويق الالكتروني بأي شكل كان سواء كان ذلك في المنصة نفسها أو على منصات التواصل الإجتماعي الاخرى وتحتفظ المؤسسة بحقها في الرجوع عليك بكافة الأضرار المترتبة جراء ذلك.
                    </li>
                    <li>
                       	عدم انتحال صفة مؤسسة موقع مراح للتسويق الالكتروني أو ممثل لها أو موظف فيها أو أي صفة توحي بأنك تابع للمؤسسة ما لم يكون لديك أذن رسمي من المؤسسة.
                    </li>
                    <li>
                      	يُمنع إستخدام هذه الخدمة من قِبل أي مستخدم غير بشري 
                    </li>
                    <li>
                        إن عدم التزامك بتلك الشروط يمنح مؤسسة موقع مراح للتسويق الالكتروني الحق بحجب عضويتك وإحالة مخالفتك للجهات المختصة بتوقيع العقوبات عند الحاجة ومنعك من الوصول للمنصة وإضافة رقم هاتفك في قائمة الحسابات و الارقام الموقوفة دون أدنى مسؤولية و دون الحاجة لإخطارك بذلك ولا يحق لك الإعتراض وأنت هنا تتعهد بعدم العودة لاستخدام المنصة إلا بعد موافقة المنصة على ذلك
                    </li>
                </ol>
            </li>
            <br/>
            <li>
                <h4>
                    المادة الثالثة: المسؤولية
                </h4>
                <ol>
                    <li>
                      	تقدم مؤسسة موقع مراح للتسويق الالكتروني خدمة تمكين المستخدم من عرض سلعته ونشر المحتوى وفق سياسة الاستخدام المتفق عليها ولا تقدم أي ضمانات ولا تتحمل أي مسؤولية في حالة عدم التزام المستخدم أو المستهلك بها
                    </li>
                    <li>
                       	تخلي منصة مراح مسؤوليتها من أي مخاطرة أو أضرار أو تبعات أو خسائر تقع على البائع أو المشتري أو أي طرف آخر، وعلى من لحق به الضرر زيارة رابط اتصل بنا وشرح الضرر الواقع عليه وستقوم المؤسسة باتخاذ الإجراء حسب نوع الواقعة دون أدنى مسؤولية .
                    </li>
                    <li>
                      	بإستخدامك لمنصة مراح يعني أنك تقر بتحمل كامل المسؤولية في التأكد من اتباع جميع القوانين، واللوائح، والأنظمة ذات الصلة عند استخدام المنصة. كما تتحمل مسؤولية إدارة جميع عمليات الشراء وعمليات التسليم في حال كان الحساب محل إلكتروني، وحل المشكلات والنزاعات الناشئة عن محتوى الإعلان مسؤولية كاملة، كما تلتزم بضوابط وشروط المحتوى الموضحة من قبل منصة مراح وتتحمل وحدك تبعات وأضرار المحتوى وتخلي مسؤولية منصة مراح من أي مطالبات ناتجة أو تابعة لـ تعاملاتك أو مترتبة عليها.
                    </li>
                    <li>
                      بإستخدامك لمنصة مراح يعني أنك تخول للمنصة حفظ البيانات و المعلومات الشخصية وغير الشخصية التي قمت بإدخالها بخوادم المؤسسة ولنا حق الإطلاع عليها ومراجعتها.
                    </li>
                    <li>
                       	بإستخدامك لمنصة مراح فإنك تقر بأحقية المنصة في مراقبة الرسائل الخاصة عند الحاجة لضمان خلوها من مخالفات إتفاقية الإستخدام و لنا الحق في حذف الإعلان والتصرف بالصور المرفقة عند الحاجة لذلك.
                    </li>
                    <li>
                       	تعتبر تعاميم وقرارات وتوجيهات إدارة ومشرفي الموقع ملزمة للطرف الثاني بعد إيصالها له عبر الرسائل الخاصة بالموقع أو الجوال  أو عبر نظام الإشعارات ، وعليه الإلتزام بها والعمل بموجبها.
                    </li>
                    <li>
                    	بإستخدامك للمنصة فإنك تقر بأحقية منصة مراح في حال مخالفتك للأنظمة والقوانين المتبعة في المملكة أو لسياسات وقوانين منصة مراح فإن لمؤسسة موقع مراح للتسويق الالكتروني الحق بالرجوع عليك بكافة الأضرار والخسائر وتحميلك أتعاب المحاماة في جميع المسائل و القضايا المتعلقة بمخالفتك وتلتزم بالتعويض عنها.
                    </li>
                </ol>
            </li>

            <br/>
            <li>
                <h4>
                    المادة الرابعة: شروط العضوية
                </h4>
                <h5>
                    العضوية هي: اسم المستخدم الذي سجل به الشخص في منصة مراح والتي ترتبط برقم جواله ، ويجب أن تكون خاضعة للشروط التالية:
                </h5>
                <ol>
                <li>
                   	يلزم اختيار اسم لائق ومناسب خلال عملية التسجيل.
                </li>
                <li>
                    يمنع إنشاء أكثر من حساب للمستخدم نفسه على المنصة.
                </li>
                <li>
                  يُمنع استخدام أكثر من عضوية في المنصة لكل شخص أو جهة.
                </li>
                <li>
                  يجب أن تقوم بتحديث رقم جوالك المرتبط بالعضوية في حال تغيير رقم جوالك أو فقدانه.
                </li>
                <li>
                  إذا كان اسم عضويتك يحتوي على اسم تجاري أو علامة تجارية ، يجب أن تكون المالك للعلامة التجارية أو مخول باستخدام الاسم أو العلامة التجارية.
                </li>
                <li>
                    	يمنع بيع العضوية أو التنازل عنها لطرف آخر أو السماح لأي طرف آخر باستخدامها ويتعبر صاحب العضوية الأول هو المسؤول عنها تجاه أي مخالفات أو مسؤوليات قانونية ، ويعتبر كلا الطرفين في حالة البيع أو التنازل مخالفين لسياسة الاستخدام في منصة مراح.
                </li>
                <li>
                    	يلتزم العضو بعدم مشاركة معلومات عضويته الخاصة به مع أي أحد.
                </li>
                <li>
                    	تلتزم ” منصة مراح“ باتخاذ المعايير اللازمة لحماية البيانات وحفظها، علما بأن شبكة الإنترنت ليست وسيلة آمنة بنسبة ١٠٠٪ لحفظ المعلومات السرية. ( راجع وثيقة الخصوصية ).
                </li>
                <li>
                    	تتبادل الخدمة بعض المعلومات مع جهازك لغرض تقديم الخدمة لك.
                </li>
                <li>
                   	بإستخدامك لمنصة مراح فإنك تقر بأحقية المنصة في إيقاف رقمك او حسابك و إدراجه ضمن قائمة الحسابات الموقوفة وذلك في حال تم رفع بلاغ أو شكوى ضدك أو حال ارتكابك مخالفة ترى إدارة المنصة أنها تستحق الإيقاف وتتعهد بعدم نشر هذه الوقائع والأحداث عبر المنصات الإلكترونية أو مواقع التواصل الإجتماعي وغيرها، ولنا الحق في حال ثبوت ذلك التوجه للجهة المختصة بتوقيع العقوبات و الغرامات و إلزامك بالتعويض عن جميع الأضرار والخسائر المترتبة جراء ذلك.
                </li>
            </ol>
            </li>
            <br/>
            <li>
                <h4>
                    المادة الخامسة: شروط إضافة محتوى على المنصة
                </h4>
                <ol>
                    <li>
                        تتعهد بعدم الإعلان عن أي سلعة ممنوعة بالمنصة.
                    </li>
                    <li>
                        	تتعهد بعدم إضافة أي ردود ممنوعة بالمنصة.
                    </li>
                    <li>
                       	تتعهد بعدم إرسال أي رسائل ممنوعة بالمنصة
                    </li>
                    <li>
                       	تتعهد بتحديد سعر بيع السلعة المعلن عنها.
                    </li>
                    <li>
                      	تتعهد بمتابعة إعلانك والرد على استفسارات العملاء من خلال الردود أو من خلال الرسائل الخاصة.
                    </li>
                    <li>
                       	تتعهد بالالتزام بسياسة الإعلانات المكررة.
                    </li>
                    <li>
                      	يلزم أن تكون المادة الإعلانية المعلن عنها سلعة أو خدمة فقط.
                    </li>
                    <li>
                      	يجب أن يكون الإعلان كامل التفاصيل وفي القسم الصحيح.
                    </li>
                    <li>
                       	يحق للمنصة حذف أي محتوى أو إعلان من دون ذكر سبب الحذف
                    </li>
                    <li>
                       	يُمنع نسخ أي إعلان من المنصة.
                    </li>
                    <li>
                     يجب الحصول على التراخيص اللازمة للإعلان، إذا كنت تقدم خدمة أو تقوم ببيع سلعة أو تمارس مهنة تخضع لتنظيم معين وتتطلب ترخيصاً أو تصريحاً بممارستها الإفصاح عن الجهة المسجل لديها وبيانات الترخيص أو التصريح واللقب المهني المعمول به و الدولة المانحة للترخيص أو التصريح.
                    </li>
                    <li>
                       	يلتزم المعلن بأن تكون الصور المضافة في الإعلان لنفس السلعة المعلن عنها. 
                    </li>
                    <li>
                        صور المحتوى يجب أن تكون لائقة أخلاقيا وذات جودة عالية ولا تخالف نظام وزارة العمل أو حقوق الإنسان أو أي جهة حكومية أو خاصة.
                    </li>
                    <li>
                        	يلتزم المعلن بعدم إضافة أكثر من 5 إعلانات في المنصة لنفس السلعة.
                    </li>
                    <li>
                       	يجب الإلتزام بعدم الإعلان عن السلع والخدمات التي تندرج في قائمة السلع و الخدمات الممنوعة. كما يجب أيضا الالتزام بقائمة الردود الممنوعة و الرسائل الممنوعة.
                    </li>
                    <li>
                      تتعهد بعدم الإعلان لشخص لا تعرفه أو التسجيل لشخص لا تعرفه.
                    </li>
                    <li>
                        	يخضع تحديث وتعديل الإعلان لجميع الشروط والضوابط في هذه الاتفاقية ويعتبر المستخدم مسؤول عن أي مخالفات وقعت أثناء إنشاء الإعلان أو بعد التحديث أو التعديل.
                    </li>
                    <li>
                        	الإنشاء والتحديث والتعديل مسؤولية المستخدم وحده.
                    </li>
                    <li>
                        يلتزم المعلن بتحديث الإعلان وفي حال عدم التحديث سيتم حذف الإعلان بشكل تلقائي.
                    </li>
                </ol>
            </li>
            <br/>
            <li>
                <h4>
                    المادة السادسة : السلع الممنوعة
                </h4>
                <h5>
                    سيتم حظر المعلن الذي يقوم بالإعلان عن السلع الموضحة (السلع الممنوعة) في المنصة. حيث يمنع الإعلان عنها أو شراءها ونقوم بحظر من يتجاوب معه عبر الرسائل الخاصة أو عبر الردود. كما نرجوا ملاحظة أن ليس هناك تنبيه قبل الحظر وان الحظر نهائي لا نقاش فيه.
السلع الممنوعة هي:

                </h5>
                <ol>
                    <li>
                        	جميع السلع الممنوعة حسب قوانين المملكة العربية السعودية.
                    </li>
                    <li>
                     	التقسيط و المنتجات البنكية. هذه السلع ممنوعه حتى لوكانت تعتبر شرعية.
                    </li>
                    <li>
                      	الأدوية والمنتجات الطبية والصحية.[البشرية] هذه السلع ممنوعه حتى لو كان مسموح بها في قوانين وزارة الصحة وحتى لو كانت سلع موصى بها من الوازرة.
                    </li>
                    <li>
                        	التسويق الشبكي. يمنع نهائيا اي نوع من التسويق الشبكي مهما كان نوعه او صفته أو طريقته.
                    </li>
                    <li>
                        	الأسلحة بمافيها الصواعق والمسدسات و الرشاشات واسلحة الحماية الشخصية و مستلزماتها حتى لو كانت مرخصة. 
                    </li>
                    <li>
                        	المنتجات الجنسية بكافة أشكالها وأنواعها.
                    </li>
                    <li>
                        	الأسهم و إدارة المحافظ والعملات وتسويقها وجميع مايتعلق بذلك.
                    </li>
                    <li>
                        	أجهزة الليزر وأجهزة التجسس و التنصت.
                    </li>
                    <li>
                        	المواقع والمنتديات والخدمات الإلكترونية والإيميلات وبيع العضويات والبرامج.
                    </li>
                    <li>
                       	بيع أي سلعه مجانية. مثال على ذلك الإيميلات وحسابات تويتر وانستقرام وغيرها.
                    </li>
                    <li>
                       السلع التي فيها إعتداء على حقوق الملكية الفكرية مثلا البرامج المنسوخة والأفلام المنسوخة.
                    </li>
                    <li>
                       	منتجات التبغ.
                    </li>
                    <li>
                        الإعلان عن منتجات أو خدمات تتطلب ترخيص من دون الحصول على الترخيص من الجهة المنظمة.
                    </li>
                    <li>
                        	الأجهزة الممنوعة مثل: أجهزة التشويش أو التشفير أو تقوية إشارة الجوال.
                    </li>
                    <li>
                       	الأجهزة ذات المخاطر الأمنية.
                    </li>
                </ol>
            </li>

            <br/>
            <li>
                <h4>
                    المادة السابعة: الإعلانات الممنوعه
                </h4>
                <ol>
                    <li>
                      	إضافة إعلانات عن إقتراحات لتطوير المنصة . للاقتراحات أو الشكاوى يتم تعبئة النموذج في خانة (اتصل بنا).
                    </li>
                    <li>
                       	إعلان ضعيف الجودة
                    </li>
                    <li>
                       	ضعف تواصل المعلن مع الاعضاء المهتمين بـ السلعة المعروضة (مثال: الإعلان عن بيع ثم لايقوم بالرد على الاتصالات أو الرسائل الخاصة
                    </li>
                    <li>
                       	الإعلان في قسم خطأ
                    </li>
                    <li>
                       	إضافة إعلان ولديك عضوية أخرى محظورة. حيث يجب أولاً مناقشة الحظر معنا قبل إضافة أي إعلان جديد.
                    </li>
                </ol>
            </li>
            <br/>
            <li>
                <h4>
                    المادة الثامنة: الردود الممنوعة
                </h4>
                <ol>
                    <li>
                      	الإعلان في الردود. 
                    </li>
                    <li>
                       	البخس 
                    </li>
                    <li>
                        	السب و الشتم سواء كان هناك مبرر ام يكن هناك مبرر
                    </li>
                    <li>
                       	عدم الجدية و عدم الرغبة في الشراء.
                    </li>
                    <li>
                        	التعليق لأجل إضافة نكته أو خبر
                    </li>
                    <li>
                       	الاستهزاء بالسلعة أو المعلن
                    </li>
                </ol>
            </li>
<br/>
            <li>
<h4>
    المادة التاسعة: الرسائل الخاصة الممنوعة
</h4>
                <ol>
                    <li>
                       	الإعلان في الرسائل الخاصة.
                    </li>
                    <li>
                        	السب و الشتم سواء كان هناك بمبرر أو بدون مبرر.
                    </li>
                </ol>
            </li>


            <br/>
            <li>
<h4>
    المادة  العاشرة: السياسة الأمنية لمؤسسة موقع مراح للتسويق الالكتروني
</h4>
<h5>
    تلتزم مؤسسة موقع مراح للتسويق الالكتروني باتفاقية الاستخدام و خصوصية الاستخدام ولسنا طرفًا في أي خلاف أو قضايا تنشأ بين المستخدمين لمخالفة أحدهما أو كلاهما إتفاقية الاستخدام إلا أننا نسعى لتعزيز الجانب الأمني في المنصة وذلك للحد والقضاء على التعديات التي يقوم بها بعض المستخدمين على المنصة بشكل يخالف سياسة و شروط الاستخدام وذلك تحقيقا لنزاهة البيع والشراء ومحاربة النصب والاحتيال والغش تطبيقاً للقوانين والتشريعات والتنظيمات المتبعة في المملكة العربية السعودية وبذلك فإنه يحق لمؤسسة موقع مراح للتسويق الالكتروني اتخاذ الإجراء اللازم تجاه أي فرد أو جهة إعتبارية مخالفة، علما أن الإجراء قد يصل إلى الملاحقة القانونية والقضائية أمام الجهة ذات العلاقة. ونورد هنا المخالفات الشائعة والإجراء اللازم تجاهها:
</h5>
                <ol>
                    <li>
                       	تعرض العميل لعملية نصب واحتيال من قبل طرف آخر: يجب على العميل إبلاغ الجهات الأمنية المختصة. و تعبئة نموذج الشكوى الخاص بذلك على منصة مراح في صفحة (اتصل بنا). وستقوم إدارة المنصة بمراجعة الشكوى والتحري حول العميل المدعى عليه ليتم اتخاذ الإجراء اللازم في حقه. ولن تكون منصة مراح طرف في مثل هذه القضايا ولا نتحمل أي مسؤولية ولكننا سنقدم ما لدينا للجهات المختصة في حال تم طلب ذلك بصفة رسمية.
                    </li>
                    <li>
                       	التعدي على سياسة أو سيادة الدولة : سيتم حذف الإعلان وإيقاف عضوية المعلن وإبلاغ الجهات المختصة بذلك.
                    </li>
                    <li>
                       في حال الإعلان عن أي من السلع الممنوعة : سيتم توثيق وأرشفة الإعلان وحذفه وإيقاف العضو وإبلاغ الجهات ذات الاختصاص.
                    </li>
                    <li>
                      	في حال قام فرد أو مؤسسة أو شركة بطرق غير مشروعة ( كاختراق أو استخدام وسائل تجميع البيانات غير المشروعة أو أي وسيلة كانت ) بهدف الوصول إلى محتوى المنصة أو برمجة المنصة أو قواعد البيانات الخاصة بالمنصة أو المعلومات والبيانات التي تخص عملاء منصة مراح بغية نسخ الإعلانات وإعادة نشرها أو الاستفادة منها بأي شكل من الأشكال. فإن مؤسسة موقع مراح للتسويق الالكتروني سيتوجه للجهات المختصة لمقاضاة الطرف الآخر بدعوى الاختراق الإلكتروني وارتكاب جريمة مخالفة أنظمة الجرائم المعلوماتية.
                    </li>
                    <li>
                       	التعدي على حقوق الملكية الفكرية ، وبراءة الاختراع لطرف ثالث: إن كنت تعتقد بأنه تم التعدي على حق من حقوقك فعليك تعبئة نموذج الشكوى الخاص بالتعدي  
                    </li>
                    <li>
                        	في حال التعرض للتشهير أو السب أو انتهاك الخصوصية: على العميل تعبئة نموذج الشكوى الخاص بذلك وستقوم إدارة المنصة بمراجعة الشكوى والتحري حول العميل المدعى عليه وسيتم اتخاذ الإجراء اللازم في حقه في حال تم التأكد بأنه خالف اتفاقية الاستخدام. على العميل الذي لحق به الضرر التوجه للجهات ذات العلاقة لتقديم الشكوى. لن تكون مؤسسة موقع مراح للتسويق الالكتروني طرف في مثل هذه القضايا ولا يتحمل أي مسؤولية ولكننا سنقدم البيانات اللازمة للجهات المختصة في حال تم طلب ذلك بصفة رسمية.
                    </li>
                    <li>
                      الإزعاج	في حال وقوع ضرر يتم إبلاغ الجهات المختصة عن المزعج مع الإقرار أن منصة مراح ليست طرفا في هذا النزاع ولا تتحمل أي مسؤولية وأنه لا يتم تقديم أي بيانات إلا من خلال طلب رسمي من الجهات المختصة
                    </li>
                </ol>
            </li>
             <br/>
            <li>
                <h4>
                    المادة الحادي عشر : وثيقة الخصوصية
                </h4>
                <h5>
                    الخصوصية وبيان سريّة المعلومات نقدر مخاوفكم واهتمامكم بشأن خصوصية بياناتكم على شبكة الإنترنت. لقد تم إعداد هذه السياسة لمساعدتكم في فهم طبيعة البيانات التي نقوم بتجميعها منكم عند زيارتكم لموقعنا على شبكة الإنترنت وكيفية تعاملنا مع هذه البيانات الشخصية.
                </h5>
                <ol>
                    <li>
                      	التصفح: لم نقم بتصميم هذه المنصة من أجل تجميع بياناتك الشخصية من جهاز الكمبيوتر الخاص بك أو من جوالك أثناء تصفحك للموقع، وإنما سيتم فقط استخدام البيانات المقدمة من قبلك بمعرفتك ومحض إرادتك.
                    </li>
                    <li>
                      	عنوان بروتوكول شبكة الإنترنت (IP): في أي وقت تزور فيه أي موقع انترنت أو منصة بما فيها هذه المنصة, سيقوم السيرفر المضيف بتسجيل عنوان بروتوكول شبكة الإنترنت (IP) الخاص بك , تاريخ ووقت الزيارة ونوع متصفح الإنترنت الذي تستخدمه والعنوان URL الخاص بأي موقع من مواقع الإنترنت التي تقوم بإحالتك إلى هذا الموقع على الشبكة.
                    </li>
                    <li>
                      الروابط بالمواقع الأخرى على شبكة الإنترنت: قد يشتمل موقعنا على روابط بالمواقع الأخرى على شبكة الإنترنت. لا نعتبر مسئولين عن تلك المواقع، يمكنك الاطلاع على سياسات السرية والمحتويات الخاصة بتلك المواقع التي يتم الدخول إليها من خلال أي رابط ضمن هذا الموقع.
                    </li>
                    <li>
                      	إفشاء المعلومات: سنحافظ في كافة الأوقات على خصوصية وسرية كافة البيانات الشخصية التي نتحصل عليها. ولن يتم إفشاء هذه المعلومات إلا إذا كان ذلك مطلوباً بموجب أي قانون أو عندما نعتقد بحسن نية أن مثل هذا الإجراء سيكون مطلوباً أو مرغوباً فيه للتماشي مع القانون ، أو للدفاع عن أو حماية حقوق الملكية الخاصة بهذه المنصة أو الجهات المستفيدة منها.
                    </li>
                    <li>
                       	عند الاتصال بنا سيتم التعامل مع كافة البيانات المقدمة من قبلك على أساس أنها سرية . تتطلب النماذج التي يتم تقديمها مباشرة على الشبكة تقديم البيانات التي ستساعدنا في تحسين موقعنا.سيتم استخدام البيانات التي يتم تقديمها من قبلك في الرد على كافة استفساراتك , ملاحظاتك , أو طلباتك من قبل هذا الموقع أو أي من المواقع التابعة له . 
                    </li>
                    <li>
                        	إفشاء المعلومات لأي طرف ثالث: لن نقوم ببيع , المتاجرة , تأجير , أو إفشاء أي معلومات لمصلحة طرف ثالث خارج هذه المنصة, أو المنصات و المواقع التابعة لها. 
                    </li>
                    <li>
                       التعديلات على سياسة سرية وخصوصية المعلومات: نحتفظ بالحق في تعديل بنود وشروط سياسة سرية وخصوصية المعلومات إن لزم الأمر ومتى كان ذلك ملائماً. سيتم تنفيذ التعديلات هنا او على صفحة سياسة الخصوصية الرئيسية وسيتم بصفة مستمرة إخطارك بالبيانات التي حصلنا عليها , وكيف سنستخدمها والجهة التي سنقوم بتزويدها بهذه البيانات.
                    </li>
                    <li>
                       الاتصال بنا: يمكنكم الاتصال بنا عند الحاجة من خلال الضغط على رابط اتصل بنا المتوفر في روابط المنصة او الارسال الى بريدنا الالكتروني على اسم النطاق اعلاه
                    </li>
                    <li>
                        اخيرا إن مخاوفك واهتمامك بشأن سرية وخصوصية البيانات تعتبر مسألة في غاية الأهمية بالنسبة لنا. نحن نأمل أن يتم تحقيق ذلك من خلال هذه السياسة.
                    </li>

                </ol>
            </li>



        </ul>

    </div>
{%endblock main_content%}