{% extends 'base.html' %}



{% block main_content %}
    <div class="main-content">

        <h2>
            اتفاقية الاستخدام
        </h2>

        <ul>
            <li>
                <h4>
                    مقدمة
                </h4>
                <p>
                    إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على منصة مراح وضعت لحماية وحفظ حقوق كل من مؤسسة  مراح للتسوق الالكتروني و المستخدم الذي يصل إلى الموقع بتسجيل او من دون تسجيل أو المستهلك المستفيد من المحتوى بتسجيل أو من دون تسجيل.
                </p>
                <br/>
                <p>
                    تخضع البنود والشروط والأحكام والمنازعات القانونية للقوانين والتشريعات والأنظمة المعمول بها في المملكة العربية السعودية.
                </p>
                <br/>
                <p>
                    لكونك مستخدم أو مستهلك على منصة مراح فأنك توافق على الالتزام بكل ما يرد بهذه الاتفاقية بمجرد استخدامك للمنصة أو في حال الوصول إليها أو في حالة التسجيل في الخدمة. كما يحق لمنصة مراح التعديل على هذه الاتفاقية في أي وقت وتعتبر ملزمة لجميع الأطراف بعد الإعلان عن التحديث في الموقع أو في أي وسيلة أخرى.
                </p>
                <br/>
            </li>

            <li>
                <h4>
                    المادة الأولى : تعريف
                </h4>
                <ol>
                    <li>
                       	منصة مراح: هي منصة إلكترونية تتيح للمستخدمين فتح حساب لنشر المحتوى الخاص به وفق الأنظمة والتشريعات، مقرها الرئيسي الدمام ويشار إليها بهذه الاتفاقية باسم مؤسسة موقع مراح للتسويق الالكتروني (الجهة المالكة لمنصة مراح) أو نحن أو لنا أو الموقع أو المنصة أو الطرف الأول.
                       
                    </li>
                    <br/>
                    <li>
                        	المستخدم: هو منشئ الحساب على منصة مراح لغرض التواصل أو التصفح أو نشر المحتوى  ويشار إليه في هذه الاتفاقية بالعضو أو الممارس أو موفر الخدمة أوالطرف الثاني.
                    </li>
                </ol>
            </li>

            <br/>
            <li>
                <h4>
                    المادة الثانية: شروط الاستخدام
                </h4>
                <p>
                    بصفتك طرف ثاني في هذه الاتفاقية ولكونك مستفيد من خدمات منصة مراح فعليك الالتزام بالتالي:
                </p>
                <br/>
                <ol>
                    <li>
                       	عدم الإعلان أو تحميل محتوى أو عناصر غير ملائمة للتصنيفات المتاحة في المنصة و المسموح ببيعها ومراجعة شروط الإعلان والسلع الممنوعة قبل الإعلان.
                    </li>

                    <li>
                       	عدم الإختراق أو التحايل على قوانين وسياسة وأنظمة المنصة أو أي حقوق تتعلق بطرف ثالث.
                    </li>

                    <li>
                        	عدم نسخ الإعلان من منصة مراح وإعادة نشرها في مواقع أخرى.
                    </li>

                    <li>
                        	عدم استخدام أي وسيلة غير شرعية للوصول للإعلانات أو بيانات المستخدمين الآخرين أو انتهاك لسياسة وحقوق مؤسسة موقع مراح للتسويق الالكتروني أو الوصول لمحتوى المنصة أو تجميع وتحصيل معلومات وبيانات تخص منصة مراح أو عملاءها والاستفادة منها بأي شكل من الأشكال أو إعادة نشرها.
                    </li>
                    <li>
                        	عدم استخدام خدماتنا إذا كنت غير مؤهل قانونيا لإتمام هذه الاتفاقية.
                    </li>
                    <li>
                       	عدم التلاعب بأسعار السلع سواء في البيع او الشراء وإلحاق الضرر بالمستهلكين الآخرين.
                    </li>
                    <li>
                        	عدم تضمين الإعلان عرضاً أو بياناً أو ادعاء كاذباً أو مصوغاً بعبارات من شأنها أن تؤدي بصورة مباشرة أو غير مباشرة إلى خداع المستهلك أو تضليله، أو القذف، أو التشهير.
                    </li>
                    <li>
                       	عدم التعرض للسياسات، أو السيادات الدولية، أو الشخصيات المعتبرة، أو أي مناقشات غير مشروعة في مؤسسة موقع مراح للتسويق الالكتروني.
                    </li>
                    <li>
                        عدم نقل حسابك أو نشاطك إلى مواقع اخرى بالوقت الذي هو يحمل شعار أو خدمات المؤسسة.
                    </li>
                    <li>
                      	عدم انتهاك حقوق الملكية الفكرية لمؤسسة موقع مراح للتسويق الالكتروني، بما في ذلك من حقوق الطبع والنشر والعلامات التجارية، وبراءات الاختراع، والدعاية وقواعد البيانات أو غيرها من حقوق الملكية الفكرية التي تنتمي للمؤسسة أو المرخصة 
                    </li>
                    <li>
                        	عدم تضمين الإعلان شعاراً أو علامة تجارية لا تملك حق استعمالها، أو علامة مقلدة وكل مافيه انتهاك حقوق الملكية الفكرية للآخرين أو براءة الاختراع.
                    </li>
                    <li>
                        	عدم الإعلان عن منتجات مخالفة 
                    </li>
                    <li>
                       	عدم إنتهاك أنظمة حقوق الإنسان و المتاجرة بالأشخاص بأي شكل من الأشكال والالتزام بضوابط الإعلان عن تقديم الخدمات العمالية.
                    </li>
                    <li>
                        	عدم انتهاك أنظمة حماية البيئة والحياة الفطرية
                    </li>
                    <li>
                        	عدم جمع أو استعمال بيانات مستخدمي الموقع الشخصية أو اتصالاته الإلكترونية لأغراض غير مصرح لها أو مسموح بها، أو الإفصاح عنها لجهة أخرى، بمقابل أو بدون مقابل، إلا بموافقة من تتعلق به البيانات الشخصية أو إذا اقتضت الأنظمة ذلك.
                    </li>
                    <li>
                        	عدم الإقدام على أي ما من شأنه إلحاق الضرر بسمعة مؤسسة موقع مراح للتسويق الالكتروني بأي شكل كان سواء كان ذلك في المنصة نفسها أو على منصات التواصل الإجتماعي الاخرى وتحتفظ المؤسسة بحقها في الرجوع عليك بكافة الأضرار المترتبة جراء ذلك.
                    </li>
                    <li>
                       	عدم انتحال صفة مؤسسة موقع مراح للتسويق الالكتروني أو ممثل لها أو موظف فيها أو أي صفة توحي بأنك تابع للمؤسسة ما لم يكون لديك أذن رسمي من المؤسسة.
                    </li>
                    <li>
                      	يُمنع إستخدام هذه الخدمة من قِبل أي مستخدم غير بشري 
                    </li>
                    <li>
                        إن عدم التزامك بتلك الشروط يمنح مؤسسة موقع مراح للتسويق الالكتروني الحق بحجب عضويتك وإحالة مخالفتك للجهات المختصة بتوقيع العقوبات عند الحاجة ومنعك من الوصول للمنصة وإضافة رقم هاتفك في قائمة الحسابات و الارقام الموقوفة دون أدنى مسؤولية و دون الحاجة لإخطارك بذلك ولا يحق لك الإعتراض وأنت هنا تتعهد بعدم العودة لاستخدام المنصة إلا بعد موافقة المنصة على ذلك
                    </li>
                </ol>
            </li>
            <br/>
            <li>
                <h4>
                    المادة الثالثة: المسؤولية
                </h4>
            </li>
        </ul>

    </div>
{%endblock main_content%}