{% extends 'base.html' %}



{% block main_content %}
    <div class="main-content">

        <h3>
            اتفاقية الاستخدام
        </h3>

        <ul>
            <li>
                <h5>
                    مقدمة
                </h5>
                <p>
                    إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على منصة مراح وضعت لحماية وحفظ حقوق كل من مؤسسة  مراح للتسوق الالكتروني و المستخدم الذي يصل إلى الموقع بتسجيل او من دون تسجيل أو المستهلك المستفيد من المحتوى بتسجيل أو من دون تسجيل.
                </p>
                <br/>
                <p>
                    تخضع البنود والشروط والأحكام والمنازعات القانونية للقوانين والتشريعات والأنظمة المعمول بها في المملكة العربية السعودية.
                </p>
                <br/>
                <p>
                    لكونك مستخدم أو مستهلك على منصة مراح فأنك توافق على الالتزام بكل ما يرد بهذه الاتفاقية بمجرد استخدامك للمنصة أو في حال الوصول إليها أو في حالة التسجيل في الخدمة. كما يحق لمنصة مراح التعديل على هذه الاتفاقية في أي وقت وتعتبر ملزمة لجميع الأطراف بعد الإعلان عن التحديث في الموقع أو في أي وسيلة أخرى.
                </p>
                <br/>
            </li>

            <li>
                <h5>
                    المادة الأولى : تعريف
                </h5>
            </li>
        </ul>

    </div>
{%endblock main_content%}