{% extends 'base.html' %}


{% block main_content %}

<div class="main-content">

    
        <table class="message-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>التاريخ</td>
                    <td>من</td>
                    <td>إلى</td>
                    <td>العنوان</td>
                    <td>تاريخ قراءة الرسالة من المستقبل</td>
                </tr>
            </thead>
            <tbody>
                {%if userInbox%}
                {%for item in userInbox%}

              
                <tr  class="clickable-row" data-href="{% url 'User.Message.detail' message_id=item.id %}">

                    <td>{{forloop.counter}}</td>
                    <td>{{item.sent_date}}</td>
                    <td>{{item.from_user.nikname}}</td>
                    <td>{{item.to_user.nikname}}</td>
                    <td>{{item.subject}}</td>
                    <td>
                        {%if item.read_date%}
                        {{item.read_date}}
                        {%else%}
                        حتى الأن لم يفتح الرسالة
                        {%endif%}
                    </td>
                </tr>
              
                {%endfor%}
                {%endif%}
            </tbody>
        </table>
 

</div>

{% endblock main_content %}

{% block js %}
<script>
    $(document).ready(function() {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock js %}
