@font-face {
    font-family: 'Tajawal';
    src: url('../font/Tajawal/Tajawal-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }


* {
    font-size: 18px !important;
    font-family: 'Tajawal', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
}