{% extends 'base.html' %}
{% load static %}
{% block main_content %}


<div class="main-content">

    <div class="window-box">
        <form method="POST">
            {% csrf_token %} 
        <table class="window-table">
            <tr>
                <td>
                    الأسم
                </td>
                <td>
                    <input type="text" name="name" value="{{request.user.name}}" class="text-mobile">
                </td>
            </tr>

           
          
            <tr>
                <td>
                   الجوال
                </td>
                <td>
                    <div class="row">
                    <input type="text" name="mobile" value="{{request.user.mobile}}" class="text-mobile">
                    {%if request.user.mobile_verified%}<img src="{%static 'img/verified.png'%}">{%endif%}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                  <input type="submit" value="  حفظ التعديلات" class="send-btn">
                </td>
                <td>
                    <a class="send-btn" id="Password-change-id" href="{%url 'MyAccount.ResetPassword'%}">تغيير كلمة المرور</a>
                </td>
            </tr>
        </table>
    </form>
    </div>

</div>


{% endblock main_content %}