{% extends 'base.html' %}
{% load static %}
{% block main_content %}


<div class="main-content">

    <div class="window-box">
        <form method="POST" action="{%url 'MyAccount.ResetPassword'%}">
        <table class="window-table">
            <tr>
                <td>
                    كلمة المرور الحالية
                </td>
                <td>
                    <input type="password" name="current_password"  class="text-email">
                </td>
            </tr>

            <tr>
                <td>
                   كلمة المرور الجديدة
                </td>
                <td>
                    <input type="password" name="new_password"  class="text-email">
                </td>
            </tr>

            <tr>
                <td>
                   تأكيد كلمة المرور الجديدة
                </td>
                <td>
                  
                    <input type="password" name="confirm_password"  class="text-email">
                   
                   
                </td>
            </tr>
          
            <tr>
              
                <td colspan="2">
                    <button class="send-btn" id="Password-change-id">تغيير كلمة المرور</button>
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
    </div>

</div>


{% endblock main_content %}