{%load static%}
<!DOCTYPE html>

<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesome_6/css/all.min.css' %}"/>

      <!--sweet Alert -->
      <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}">

      <!--jQuery-->
      <script src="{% static 'js/jquery-3-7-1.js' %}"></script>

      {% block extrahedar %}
      {% endblock extrahedar %}

    <title>موقع مراح</title>
</head>
<body >


    <!--Alert-->
    {% if messages %}

    {% for message in messages %}
   
       
        {%if message.tags == 'success'%}
       <!--success-->
        <script>
            console.log('{{message.tags}}');
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 1800
              })
        </script>

         <!--error-->
        {%elif message.tags == 'error'%}
        <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{ message }}',
           
          })
        </script>
        {%endif%}
   
    {% endfor %}

{% endif %}
    <!-- / alert-->

    <!--====Navbar============-->
    <nav>
      <a href="{% url 'home'%}">  <img src="{% static 'img/selectedLogo.svg' %}" class="logo"></a>

        <div>
            <ul>
                 {%if not request.user.id %}
                <li onclick="login()">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                     دخـــول
                   
                </li>
                {%else%}
                <li id="user-menu">
                    يالله حيهم : {{request.user.name}} <i class="fa-solid fa-caret-down"></i>

                    <ul id="dropdown-menu">
                        <li>
                            <a href="{%url 'MyAccount.index'%}">
                                حسابي
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'My.Posts'%}">
                                إعلاناتي
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'MyFavorite.List'%}">
                                المفضلة
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'User.Message.list'%}">
                                الرسائل الخاصه
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'logout'%}">
                                 خروج
                            </a>
                        </li>
                      </ul>
                </li>

                <script>
                    document.getElementById('user-menu').addEventListener('click', function() {
                        this.classList.toggle('active');
                      });
                </script>
                {%endif%}

                <li>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                    EN
                </li>
                <li>
                 <i class="fa fa-moon"></i>
                </li>
            </ul>
        </div>
    </nav>
    <!--====/Navbar===========-->

    <!--===Sub-Navbar====-->
    <subnav>

        

        <div>
            <form action="{%url 'post.search'%}" method="GET">
             
            <select class="search-select" name="category" id="category-select-id">
              <option value="all">الكل</option>  
             {%for category in categories%}
             <option value="{{category.id}}" {%if selectedcategory%} {%if selectedcategory.id == category.id%} selected{%endif%}{%endif%}>{{category.name}}</option>
             {%endfor%}
            </select>
        <input type="text" id="Search_input" placeholder="إبحث عن سلعة ..." name="searchKey"/>
        <button class="search-btn"><i class="fa fa-search"></i></button>
             
            
            <select class="search-select" name="location" id="location-select-id">
               
              
               <option  value="all">
                كل المناطق
               </option>
               {%for city in location%}
                       <option value="{{city.id}}"  {% if selectedLocation%}{%if selectedLocation.id == city.id%}  selected {%endif%}{%endif%}>{{city.name}}</option>
                       {%endfor%}
            </select>

            <a class="search-btn">
                القريب
                <i class="fa fa-map"></i>
            </a>
            <input type="hidden" value="all" name="Sub_Category">  
        </form>

      
        </div>
        <a class="search-btn" href="{%url 'post.create'%}">
            أضف إعلانك
            <i class="fa fa-add"></i>
        </a>
        

    </subnav>
    <!--===/Sub-Navbar===-->
    <!--========Categories=========-->
    <div class="Categories-warp">
    <div class="Categories">

        {%for category in categories%}
       <a href="{%url 'post.search'%}?category={{category.id}}&searchKey=&location=all&SubCategory=all">
       {{category.name}}
       </a> 
       {%endfor%}

      

    </div>
    </div>
    <!--=======/Categories=========-->


    <!--===========Main Content=================-->
    {% block main_content %}
   
  {% endblock main_content %}
    <!--===========/Main Content=================-->

   <div class="desart">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f8f0df" fill-opacity="1" d="M0,288L80,266.7C160,245,320,203,480,202.7C640,203,800,245,960,256C1120,267,1280,245,1360,234.7L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    </div>
    
    <footer>
        
        <div class="mobile-apps">

          <a href="#">  <img src="{% static 'img/apple.png' %}" width="150px"/></a>
          <a href="#">  <img src="{% static 'img/google.png' %}" width="150px"/></a>
        </div>
        <hr class="slim-line">

        <div class="footer-links">
            <ul>
                <li>
                    <i class="fa fa-list"></i>
                    <a href="https://www.ncw.gov.sa/ar/Pages/default.aspx" target="_blank">
                        للأطلاع على قائمة الحيوانات الممنوع بيعها أو أصطيادها الرجاء زيارة موقع المركز الوطني لـ تنمية الحياة الفطرية
                    </a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="#">  أتصل بنا </a>
                </li>
            </ul>

            <ul>
                <li>
                    <i class="fa fa-signature"></i>
                    <a href="{%url 'User.Agreement'%}">اتفاقية الاستخدام</a>
                </li>
                <li>
                    <i class="fa fa-question"></i>
                    <a href="#">الأسئلة الشائعة</a>
                </li>
            
            </ul>


            <ul>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="{%url 'register.new.user'%}"> التسجيل  </a>
                </li>
                <li>
                    <i class="fa fa-money-bill-transfer"></i>
                    <a href="#">حساب و سداد عمولة الموقع</a>
                </li>
            </ul>
        </div>

        <hr>

        <div class="the-company">
            مؤسسة مراح للتسويق الإلكتروني
        </div>

        
    </footer>


    <!--login module-->
    <div class="login-background" id="login_div_id">
      
       
        
        <div class="toolbar-window">
            <i class="fa-solid fa-rectangle-xmark exit-btn" onclick="login_close()"></i>
        </div>

      


        <div>
        <form method="POST" class="login-form" id="login_form_id" action="{%url 'login'%}">
            <h3>   
                تسجيل الدخول
                
            </h3>
            {% csrf_token %}
        <input type="text"     name="username" placeholder="   أدخل اسم المستخدم أو رقم الجوال" class="text-email">
        <input type="password" name="password" placeholder="أدخل كلمة المرور" class="text-password">
        <input type="submit" value="دخول">
        </form>
        <br/>


        

        <br/>
       
        <div class="login-form">
        <a href="{%url 'register.new.user'%}" class="new-user-btn">
            تسجيل عضو جديد
        </a>
    </div>
        </div>

    </div>
    <!--/login module-->

    <script>
        function login()
        {
            document.getElementById('login_div_id').classList.add('active-login');
           
        }
        function login_close()
        {
            document.getElementById('login_div_id').classList.remove('active-login');
        }



       
        document.getElementById('category-select-id').addEventListener('change', function(){
            this.form.submit();
         });  

        document.getElementById('location-select-id').addEventListener('change', function(){
           this.form.submit();
        });  
    </script>

    {% block js %}
    {% endblock js %}

    
</body>
</html>