{% extends 'base.html' %}


{% block main_content %}
    <!--===========Main Content=================-->
    <div class="main-content">
       
        <div class="post-card">
   
          <div class="post-subject">
            <h2>
              {{thePost.subject}}
            </h2>
          </div>
          
          <div class="post-subDetail">
   
             <div class="location">
               <i class="fa fa-location"></i>
               {{thePost.location}}
             </div>
   
             <div class="user">
               <i class="fa fa-user"></i>
               {{thePost.created_by.nikname}}
             </div>
   
             <div class="DateTime">
               <i class="fa fa-clock"></i>
               {{thePost.created_date}}
             </div>
          </div>
   
          <div class="post-body">
           <p>
            {{thePost.text}}
           </p>
   
           <br/>
           <hr>
           <br/>
   
           <div class="post-photos">
   
            {%for image in thePost.post_images.all%}
               <img src="{{image.image.url}}"/>
            {%endfor%}  
            
   
           </div>
   
   
          </div>
   
   
   
   
        </div>
   
         <!--Posted comment-->
         <div class="posted-comment">
           <div class="posted-comment-sender">
               <p>
                   alhashim
               </p>
   
               <p>
                   قبل 9 شهور و 3 اسابيع
               </p>
           </div>
   
           <div class="posted-message">
               كم السوم
           </div>
   
         </div>
         <!-- / Posted comment-->
   
          <!--Reply Posted comment-->
          <div class="reply-posted-comment">
           <div class="posted-comment-sender">
               <p>
                   المعلن
               </p>
   
               <p>
                   قبل 9 شهور و 3 اسابيع
               </p>
           </div>
   
           <div class="posted-message">
              وصل السوم 50 ألف
           </div>
   
         </div>
         <!-- /Reply Posted comment-->
          
      
        <!--comment-->
           <div class="comment">
           <textarea placeholder="أكتب رسالة للمعلن" name="comment"></textarea>
           <a href="" class="send-btn">
               إرسال
               <i class="fa-regular fa-paper-plane"></i>
           </a>
           
           </div>
           <!-- / comment-->
   
       </div>
       <!--===========/Main Content=================-->
{% endblock main_content %}