{% extends 'base.html' %}


{% block main_content %}
    <!--===========Main Content=================-->
    <div class="main-content">
       
        <div class="post-card">
   
          <div class="post-subject">
            <h2>
              {{thePost.subject}}
            </h2>
          </div>
          
          <div class="post-subDetail">
   
             <div class="location">
               <i class="fa fa-location"></i>
               {{thePost.location}}
             </div>
   
             <div class="user">
               <i class="fa fa-user"></i>
               {{thePost.created_by.nikname}}
             </div>
   
             <div class="DateTime">
               <i class="fa fa-clock"></i>
               {{thePost.created_date}}
             </div>
          </div>
   
          <div class="post-body">
           <p>
            {{thePost.text}}
           </p>
   
           <br/>
           <hr>
           <br/>
   
           <div class="post-photos">
   
            {%for image in thePost.post_images.all%}
               <img src="{{image.image.url}}"/>
            {%endfor%}  
            
   
           </div>
   
   
          </div>
   
   
   
   
        </div>
   
        {%for comment in thePost.post_comments.all%}
         <!--Posted comment-->
         <div class="{%if comment.created_by == comment.post.created_by%}reply-posted-comment{%else%}posted-comment{%endif%}">
           <div class="posted-comment-sender">
               <p>
                   {{comment.created_by.nikname}}
               </p>
   
               <p>
                   {{comment.created_date}}
               </p>
           </div>
   
           <div class="posted-message">
              {{comment.comment}}
           </div>
   
         </div>
         <!-- / Posted comment-->
         {%endfor%}
   
        
          
      
        <!--comment-->
           
           <div class="comment">
            <form method="POST">
              {% csrf_token %}
           <textarea placeholder="أكتب رسالة للمعلن" name="comment"></textarea>
           <button  class="send-btn">
               إرسال
               <i class="fa-regular fa-paper-plane"></i>
           </button>
          </form>
           </div>
         
           <!-- / comment-->
   
       </div>
       <!--===========/Main Content=================-->
{% endblock main_content %}