{% extends 'base.html' %}



{% block main_content %}

{%if selectedcategory%}
<!--========Categories=========-->
<div class="Categories-warp">
<div class="sub-Categories">

   {%for category in selectedcategory.sub_categories.all%}
  <a href="#">
  {{category.name}}
  </a> 
  {%endfor%}

 

</div>
</div>
<!--=======/Categories=========-->
{%endif%}

    <div class="main-content">

      
       
{%for post in posts%}
        <!--Card-->

        <div class="row w-100">

        <div class="edit-delete-box">
            <a class="view-more-btn" href="{%url 'post.update' postId=post.id %}">
                <i class="fa-regular fa-pen-to-square"></i>  تعديل
            </a>

            <a class="view-more-btn" href="#" onclick="deletePost({{post.id}})">
                
                <i class="fa-regular fa-trash-can"></i>  حذف 
            </a>
        </div>


        <a class="card-content" href="{%url 'post.detail' pk=post.id%}">

          


            <div class="card-text">
                <h2> 
                    {{post.subject}}
                </h2>
                <sub> {{post.id}} / {{post.category}} / {{post.sub_category}} </sub>
                <ul class="card-sub-text {%if post.created_by == request.user%} bg-light-green {%endif%}">

                   <li>
                    <i class="fa fa-location"></i>
                    {{post.location}}
                   </li>

                   <li>
                    <i class="fa fa-clock"></i>
                    {{post.created_date}}
                   </li>
                
                   <li>
                    <i class="fa fa-user"></i>
                    {{post.created_by.name}}
                   </li>
                </ul>


              
                
               
              
            </div><!--end card text-->


            <div class="card-img">
                {%if post.post_images.first.image%}
                <img src="{{post.post_images.first.image.url}}" style="width:200px;height:200px">
                {%endif%}
               
              
            </div><!--end img-->


          

           
        </a><!--/Card-->
    </div>

       
        {%endfor%}<!--end loop-->

        

        
    <br/>

    <a href="#" class="view-more-btn">
        مشاهدة المزيد
    </a>
    <hr>
    <p>
        مجموع عدد الإعلانات [{{totalMyPost}}]
    </p>

  </div>
  {% endblock main_content %}


  {% block js %}
  <script>
    function deletePost(postId){
        var result = confirm(`هل أنت متأكد من رغبتك في حذف رقم الإعلان ${postId}`);
        if (result === true) {
            // User clicked "Yes"
            console.log("User clicked 'Yes'");
            // Perform your desired action here
            window.location.href = `post/delete/${postId}`;
        } else {
            // User clicked "No" or closed the dialog
            console.log("User clicked 'No' or closed the dialog");
            // Handle the cancellation or perform an alternative action
        }
    }
  </script>
  {% endblock js %}
