{% extends 'base.html' %}
{%load static%}

{% block extrahedar %}
<script src="{%static 'lib/tinymce/js/tinymce/tinymce.min.js'%}" referrerpolicy="origin"></script>
{% endblock extrahedar %}



{% block main_content %}
  <!--===========Main Content=================-->
  <div class="main-content">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="post-card">
     
       <table class="create-table">
           <tr>
               <td>
                   عنوان الإعلان
               </td>
               <td>
                   <input type="text" name="subject" class="text-subject" value={{post.subject}}>
               </td>
           </tr>

           <tr>
               <td>
                  تصنيف الإعلان
               </td>
               <td>
                   <select name="category" class="text-subject" id="id_category">
                       <option>---</option>
                       {%for category in categories%}
                       <option value="{{category.id}}" {%if post.category.id == category.id%} selected {%endif%}>{{category.name}}</option>
                       {%endfor%}
                     
                   </select>
               </td>
           </tr>

           <tr>
            <td>
              التصنيف الفرعي
            </td>
            <td>
                <select name="sub_category" class="text-subject" id="id_sub_category">
                    <option>---</option>
                   
                </select>
            </td>
        </tr>


           <tr>
               <td>
                 مدينة الإعلان
               </td>
               <td>
                   <select name="location" class="text-subject">
                       <option>---</option>
                       {%for city in location%}
                       <option value="{{city.id}}" {%if post.location.id == city.id%} selected {%endif%}>{{city.name}}</option>
                       {%endfor%}
                    
                   </select>
               </td>
           </tr>

               <tr>
               <td>
                   صور الإعلان
                 
               </td>
               <td>
               <input type="file" name="photos" multiple class="choese-files" accept="image/*">
               <sub>
                الحد المسموح 10 صور
              </sub>
           </td>
           </tr>
       </table>

      

       <div class="comment">
           <textarea placeholder="نص الإعلان" name="text" id="id_post_text">
            {{post.text}}
           </textarea>    
       </div>

       <hr>
     <h4>  إتفاقية العمولة</h4>

       بسم الله الرحمن الرحيم
قال الله تعالى: <h4>" وَأَوْفُواْ بِعَهْدِ اللهِ إِذَا عَاهَدتُّمْ وَلاَ تَنقُضُواْ الأَيْمَانَ بَعْدَ تَوْكِيدِهَا وَقَدْ جَعَلْتُمُ اللهَ عَلَيْكُمْ كَفِيلاً </h4>"صدق الله العظيم

<br/>
<br/>
<p>
<input type="checkbox" required>
* اتعهد واقسم بالله أنا المعلن أن أدفع عمولة الموقع وهي 1% من قيمة البيع سواء تم البيع عن طريق الموقع أو بسببه.

</p>

<br/>
<br/>
<p>
   * كما أتعهد بدفع العمولة خلال 10 أيام من استلام كامل مبلغ المبايعة.
</p>

<br/>
<br/>
<p>
   ملاحظة: عمولة الموقع هي على المعلن ولاتبرأ ذمة المعلن من العمولة إلا في حال دفعها.
</p>
       <hr>

           <button href="#" class="send-btn">
               حفظ التعديلات
               <i class="fa-regular fa-paper-plane"></i>
           </button>
     
   </div>
</form>
   </div>
   <!--===========/Main Content=================-->
{% endblock main_content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categorySelect = document.getElementById('id_category');
        const subCategorySelect = document.getElementById('id_sub_category');
    
        categorySelect.addEventListener('change', function() {
            var selectedCategoryId = categorySelect.value;
            subCategorySelect.innerHTML = '';
    
            if (selectedCategoryId) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        var subcategories = JSON.parse(xhr.responseText);
                         console.log(subcategories);

                         for(let subCategory of subcategories)
                         {
                            var option = document.createElement('option');
                            option.value = subCategory.id;
                            
                            option.textContent = subCategory.name;
                            subCategorySelect.appendChild(option);
                         }


                    }
                };
    
                xhr.open('GET', '{% url "get_subcategories"%}?category_id=' + selectedCategoryId, true);
                xhr.send();
            }
        });


        // first load all 
        var selectedCategoryId = categorySelect.value;
        subCategorySelect.innerHTML = '';

        if (selectedCategoryId) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var subcategories = JSON.parse(xhr.responseText);
                     console.log(subcategories);

                     for(let subCategory of subcategories)
                     {
                        var option = document.createElement('option');
                        option.value = subCategory.id;
                        if(parseInt("{{post.sub_category.id}}") === subCategory.id)
                            {
                                option.selected = true;
                            }
                        option.textContent = subCategory.name;
                        subCategorySelect.appendChild(option);
                     }


                }
            };

            xhr.open('GET', '{% url "get_subcategories"%}?category_id=' + selectedCategoryId, true);
            xhr.send();
        }
        //
    });




   
      
    
        tinymce.init({
            selector: 'textarea#id_post_text',
            promotion: false,
            branding: false
    
          });
    
        
    
    

</script>
{% endblock js %}

